.combained-login-main {
    height: 500px;
    background-image: url('https://www.thompsoncoburn.com/images/default-source/blogs/detailed-illustration-of--medical-center-building-in-a-flat-style_24818161443_o.jpg?sfvrsn=4&sfvrsn=4');
    background-size: cover;
}